accelerate==0.27.2
auto_gptq==0.7.1
bitsandbytes==0.42.0
ctransformers==0.2.27
faiss-gpu==1.7.2
langchain==0.1.11
langchain_community==0.0.27
llama-cpp-python==0.2.55
pypdf==4.1.0
PySide6
sentence-transformers==2.5.1
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
transformers==4.38.2

einops==0.7.0
protobuf==4.25.3
